/* Body */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    color: rgb(229, 49, 112);
    padding: 4% 0%;
    text-align: center;
}

main > p {
text-align: center;
}

/* Schede */

.scheda {
    background-color: black;
    color: white;
    width: 29%;
    height: 11%;
    float: left;
    margin: 2% 2%;
    box-shadow: 0 0 10px black;
}

img {
    height: 100px;
    width: 110px;
    padding-right: 3%;
    float: left;
}

div > p {
    font-size: 20px;
}

.email {
    text-decoration: none;
    color: aqua;
}

section::after {
    content: " ";
    display: block;
    clear: both;
}
